<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top py-2">
    <div class="container">

        <a class="navbar-brand fw-bold text-danger" href="/listings">
            <i class="fa-solid fa-compass me-2"></i>WanderLust
        </a>

        <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/listings">Explore</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/listings/new">
                        <i class="fa-solid fa-plus me-1"></i>
                        Add Listing
                    </a>
                </li>
            </ul>

            <form class="d-flex align-items-center search-form">
                <input class="form-control rounded-pill me-2"
                    type="search"
                    placeholder="Search destinations...">

                <button class="btn btn-danger rounded-pill">
                    Search
                </button>
            </form>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fa-regular fa-user"></i>
                        Login
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">
                        Sign Up
                    </a>
                </li>
            </ul>

        </div>
    </div>
</nav>